<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.deanishe.alfred-subdir-search</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>C1F4D4A3-42A5-4DBA-A715-1E2E1CAB41FC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F49D2AC0-B460-4FD2-AA4A-622071171763</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dean Jackson</string>
	<key>description</key>
	<string>Search Subdirectories of Specified Root Directory</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Subdirectory Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>docs</string>
				<key>runningsubtext</key>
				<string>Grubbing through your stuff…</string>
				<key>script</key>
				<string>python search.py ~/Documents "{query}"</string>
				<key>subtext</key>
				<string>Search across sub-directories of ~/Documents</string>
				<key>title</key>
				<string>Search in ~/Documents</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>7D49351C-5DE3-405F-AA86-42A20872D1E8</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>subdirhelp</string>
				<key>subtext</key>
				<string>Open the Help File in your Browser</string>
				<key>text</key>
				<string>Subdirectory Search Help</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C1F4D4A3-42A5-4DBA-A715-1E2E1CAB41FC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>open ./README.html</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>F49D2AC0-B460-4FD2-AA4A-622071171763</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>7D49351C-5DE3-405F-AA86-42A20872D1E8</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>C1F4D4A3-42A5-4DBA-A715-1E2E1CAB41FC</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
		<key>F49D2AC0-B460-4FD2-AA4A-622071171763</key>
		<dict>
			<key>ypos</key>
			<real>130</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
